@import url("https://fonts.googleapis.com/css?family=Space+Mono:400");

html {
  font-size: 100%;
} /*16px*/

body {
  background: #282a36;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  line-height: 1.75;
  color: #f8f8f2;
}

.centered {
  text-align: center;
}

.centered-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a {
  color: #50fa7b;
}

p {
  margin-bottom: 1rem;
  font-family: "Space Mono", monospace;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  color: #ff79c6;
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  color: #bd93f9;
  font-size: 2.441rem;
}
h3 {
  color: #ffb86c;
  font-size: 1.953rem;
}

h4 {
  color: #f1fa8c;
  font-size: 1.563rem;
}

h5 {
  color: #8be9fd;
  font-size: 1.25rem;
}

.reset {
  margin: 0px !important;
}

small,
.text_small {
  font-size: 0.8rem;
}

code {
  margin: 30px 0px;
  background-color: #44475a;
  color: #ff79c6;
  border-radius: 3px;
  padding: 10px 12px;
}

.container {
  padding: 30px 0px;
}

nav {
  border-bottom: 1px solid #6272a4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  color: #6272a4;
  text-decoration: none;
}

li {
  color: #6272a4;
  list-style: none;
  padding: 0px 12px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  font-family: "Space Mono", monospace;
  border-radius: 5px;
  border: 1px solid;
  padding: 6px 12px;
  cursor: pointer;
}

.button-one {
  background: #44475a;
  color: #f8f8f2;
}

.button-one:hover {
  background: #6272a4;
}

.button-two:hover {
  background: #8be9fd;
}

.button-three {
  background: #ff5555;
  color: ghostwhite;
}

.button-three:hover {
  background: #ff79c6;
}

.button-four {
  background: #50fa7b;
}

.button-four:hover {
  background: #8be9fd;
}

/* Colours in Dracula Theme Flavour */

.background {
  color: #282a36;
}

.current-line {
  color: #44475a;
}

.foreground {
  color: #f8f8f2;
}

.comment {
  color: #6272a4;
}

.cyan {
  color: #8be9fd;
}

.green {
  color: #50fa7b;
}

.orange {
  color: #ffb86c;
}

.pink {
  color: #ff79c6;
}

.purple {
  color: #bd93f9;
}

.red {
  color: #ff5555;
}

.yellow {
  color: #f1fa8c;
}

/* Styles for this specific mini project */

.card {
  background: #44475a;
  width: 60vw;
  border-radius: 5px;
  padding: 60px;
}

.joke {
  padding-bottom: 30px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
